<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @passenger.name %>, You have successfully booked your flight</h1>
        
    <p>Thanks for flying with Odin Flight Booker! Have a great day!</p>
  </body>
</html>
